:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: rgba(46, 47, 66, 0.4);
  --hero-background: rgba(46, 47, 66, 1);
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  background-color: var(--white-background);
  color: var(--text);
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
li {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  width: 100%;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.container {
  width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* nav */

.page-header {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
}
.page-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  color: var(--primary-brand);
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-accent {
  color: var(--dark);
}
.menu {
  display: flex;
  gap: 40px;
}
.menu-link {
  display: inline-block;
  font-weight: 500;
  color: var(--dark);
  padding-top: 24px;
  padding-bottom: 24px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-item {
  position: relative;
}
.menu-link::after {
  content: '';
  position: absolute;
  border-radius: 2px;
  background-color: transparent;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover:after,
.menu-link:focus:after {
  background-color: var(--pressed-state);
}
.contacts {
  font-style: normal;
}
.contacts-info {
  display: flex;
  gap: 40px;
  align-items: center;
}
.contacts-link {
  color: var(--text);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-state);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--pressed-state);
}

/*main*/

.hero {
  background: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 188px;
  padding-bottom: 188px;
}
.promo-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  color: var(--white-background);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  max-width: 496px;
}
.hero-button-primary {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.64px;
  color: var(--white-background);
  background-color: var(--primary-brand);
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button-primary:hover,
.hero-button-primary:focus {
  background-color: var(--pressed-state);
}
.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}
.benefits-info {
  display: flex;
  gap: 24px;
}
.benefits-item {
  width: calc((100% - 72px) / 4);
}
.benefits-item-icon {
  display: flex;
  height: 112px;
  background-color: var(--light);
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  border-radius: 4px;
}
.benefits-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--dark);
  margin-bottom: 8px;
}
.work {
  padding-bottom: 120px;
}
.work-subtitle {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  color: var(--dark);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.work-list {
  display: flex;
  gap: 24px;
}
.work-image {
  width: calc((100% - 48px) / 3);
}
.team {
  background-color: var(--light);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-subtitle {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  color: var(--dark);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-card {
  background-color: var(--white-background);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}
.team-info {
  padding: 32px 16px;
  text-align: center;
}
.team-member {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--dark);
  margin-bottom: 8px;
}
.team-text {
  padding-bottom: 8px;
}
.team-icons {
  display: flex;
  justify-content: space-between;
}
.team-icon-wrapper {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-brand);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-wrapper:hover,
.team-icon-wrapper:focus {
  background-color: var(--pressed-state);
}
.team-network-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-subtitle {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  margin-bottom: 72px;
  color: var(--dark);
}
.customers-logo {
  display: flex;
  flex-wrap: wrap;
}
.customers-icon {
  height: 88px;
  display: flex;
  width: calc((100% - 120px) / 6);
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  margin-right: 24px;
  align-items: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon-logo {
  fill: var(--subtle-text);
  width: 104px;
  height: 56px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon:nth-child(6) {
  margin-right: 0;
}
.customers-icon:hover,
.customers-icon:focus {
  border: 1px solid var(--pressed-state);
}
.customers-icon:hover > .customers-icon-logo,
.customers-icon:focus > .customers-icon-logo {
  fill: var(--pressed-state);
}

/*backdrop*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: var(--modal-overlay);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
}

/*modal*/
.modal {
  position: absolute;
  width: 408px;
  height: 584px;
  background-color: var(--white-background);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button-close {
  position: absolute;
  border: none;
  border-radius: 50%;
  right: 8px;
  top: 8px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--dark);
}
.button-close:hover,
.button-close:focus {
  background-color: var(--pressed-state);
}
.button-close:hover .button-close-icon,
.button-close:focus .button-close-icon {
  fill: var(--white-background);
}

/*footer*/

.page-footer {
  background-color: var(--dark);
  padding-top: 100px;
  padding-bottom: 100px;
}
.page-footer-wrapper {
  display: flex;
}
.page-footer-logo {
  margin-right: 120px;
}
.footer-link-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo {
  color: var(--light);
}
.footer-text {
  color: var(--light);
  max-width: 264px;
}
.footer-networks-title {
  color: var(--white-background);
  font-weight: 500;
  margin-bottom: 16px;
}
.footer-networks-wrapper {
  display: flex;
}
.footer-networks-icons {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand);
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon {
  width: 24px;
  height: 24px;
}
.footer-networks-icons:hover,
.footer-networks-icons:focus {
  background-color: var(--success);
}

/*portfolio*/

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.examples-list:hover,
.examples-list:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-button {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: var(--primary-brand);
  background-color: var(--light);
  border: none;
  border: 1px solid var(--accent);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white-background);
  background-color: var(--pressed-state);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.examples-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--light);
  padding: 40px 32px;
  background-color: var(--primary-brand);
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-list:hover .portfolio-overlay {
  transform: translateY(0%);
}
.portfolio-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--dark);
}
.examples {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.examples-list {
  flex-basis: calc((100% - 48px) / 3);
}
.portfolio-info {
  padding: 32px 16px;
  border: 1px solid var(--cornflower, #e7e9fc);
  border-top: none;
}
.examples-text {
  color: var(--text);
}
.portfolio-subtitle {
  margin-bottom: 8px;
}
